{erl_opts, [debug_info]}.
{deps, [
        {express_deploy_db, {git, "git://github.com/fxmy/express_deploy_db.git", {tag, "master"}}},
        {erlydtl, "0.12.1"},
        {n2o, {git, "git://github.com/synrc/n2o.git", {tag, "3.4"}}}
        ]}.

{plugins, [
           {rebar3_erlydtl_plugin, ".*", {git, "https://github.com/tsloughter/rebar3_erlydtl_plugin.git", {branch, "master"}}}
]}.

{erlydtl_opts, [{source_ext, ".html"},
                {module_ext, "_view"},
                {auto_escape, false},
                {compiler_options, [report, return, debug_info, verbose]}
                ]
}.

{provider_hooks, [{pre, [{compile, {erlydtl, compile}}]}
                  ]
}.
