{erl_opts, [debug_info]}.

{lib_dirs,["_build/default/lib"]}.

{deps, [
        {express_deploy_db, {git, "git://github.com/fxmy/express_deploy_db.git", {tag, "master"}}},
        {erlydtl, "0.12.1"},
        {syn, "1.6.0"},
        {mad, {git, "git://github.com/synrc/mad", {tag, "1.9"}}},
        {n2o, {git, "git://github.com/synrc/n2o.git", {tag, "3.4"}}}
        ]}.

{plugins, [
           {rebar3_erlydtl_plugin, ".*", {git, "https://github.com/tsloughter/rebar3_erlydtl_plugin.git", {branch, "master"}}}
]}.

{erlydtl_opts, [{source_ext, ".html"},
                {module_ext, "_view"},
                {auto_escape, false},
                {compiler_options, [report, return, debug_info, verbose]}
                ]
}.

{provider_hooks, [{pre, [{compile, {erlydtl, compile}}]}
                  ]
}.

{relx, [{release, {"ExpressDeploy", "0.0.1"}, [express_deploy, nitro, erlydtl, mad]},
        {sys_config, "sys.config"},

        {dev_mode, false},
        {include_erts, true},

        {include_src, false},

        {extended_start_script, true}
        ]
}.
