<html>
    <head>
        <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
        <title>{{title}}</title>
    </head>
    <body>
      <h1 align="center" style="color:red">{{title}}</h1>
      <h1 align="center" style="color:red">{{ed_ip}}</h1>
      <h1 align="center" style="color:red">{{ed_username}}</h1>
      <h1 align="center" style="color:red">{{ed_password}}</h1>
      <iframe src="http://baidu.com"></iframe>
        <!--script>var transition = {pid: '', host: 'localhost', port:'8000'};</script-->
        <script>{{script}}</script>
        {{javascript}}
        <script>protos = [$bert]; N2O_start();</script>
    </body>
</html>
